Untitled6.rnc

start = root
root = element xml {source}
source= element source {text}
title= element Title {level}
level= attribute level {"poem"}
author= element author {text}
date=element date {text}
when= attribute when {"1915"}
pubPlace= element pubPlace {text}
where= attribute where {"Boston"}
publisher= element publisher {text}
editor=  element editor {text}
